<div class="tollbar-component">
    <div class="tollbar-option"><i class="fa fa-pencil"></i> Edit</div>
    <div class="tollbar-option"><i class="fa fa-plus"></i> ADD Cdl</div>
    <div class="tollbar-option"><i class="fa fa-plus"></i>ADD Medical</div>
    <div class="tollbar-option"><i class="fa fa-plus"></i>ADD Mvr</div>
    <div class="tollbar-option"><i class="fa fa-plus"></i>ADD Text</div>
    <div class="tollbar-option"><i class="fa fa-power-off"></i> Deactivate</div>
    <div class="tollbar-option"><i class="fa fa-trash"></i> Delete</div>
</div>