<div class="table-body-component">
  <table class="table">
    <thead class="table-head">
      <tr>
        <th class="checked-number">
          <span>{{ checked }}</span>
        </th>
        <th>Name</th>
        <th>Phone</th>
        <th>SSN</th>
        <th>DOB</th>
        <th>Hired</th>
        <th>CDL#</th>
        <th>State</th>
        <th>CDL exp.</th>
        <th>Medical exp.</th>
        <th>Mvr exp.</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="table-row"
        *ngFor="let user of data"
        [ngClass]="{ background: user.checked == true }"
      >
        <td>
          <input
            type="checkbox"
            [checked]="user.checked"
            (change)="chekChanged(user.checked, user.id)"
          />
        </td>
        <td>
         <div class="user-name">
          <div class="user-name-img">
            <img class="user-img"  [src]="user.img" alt=""> 
          </div>
          {{ user.name }}
         </div> 
        </td>
        <td>
          {{ user.phone }}
        </td>
        <td>
          {{ user.ssn }}
        </td>
        <td>
          {{ user.dob }}
        </td>
        <td>
          {{ user.hired }}
        </td>
        <td>
          {{ user.cdl }}
        </td>
        <td>
      
            <img [src]="user.state" alt="" class="state-img">
    
          
        </td>
        <td>in {{ user.cdlexp }} days</td>
        <td>in {{ user.medicalExp }} days</td>
        <td>in {{ user.mvrExp }} days</td>
        <td>
          <button class="button-icon"><i class="fa fa-paperclip"></i></button>
          <button class="button-icon"><i class="fa fa-file"></i></button>
          <button class="button-icon" (click)="openEdit()"><i class="fa fa-ellipsis-h"></i></button>
          
        </td>
      </tr>
      <app-tollbar *ngIf="editBoolean" class="tollbar"></app-tollbar>
    </tbody>
  </table>
  
</div>
